<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Chat</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A cool thing made with Glitch" />

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- import the webpage's client-side javascript file -->
    <script src="/script.js" defer></script>
  </head>
  <body>
    <main class="c-chat">
      <iframe class="c-chat__view" src="/messages#latest"></iframe>
      <form class="c-chat__chat-form" action="/messages" method="post" autocomplete="off">
        <input class="c-chat__message-input" autofocus name="message" type="text" />
        <button class="c-chat__message-send" type="submit">Send</button>
      </form>
    </main>
  </body>
</html>
