/* Variables ******************************************************************/
:root {
  --surface: #f0f0f0;
  --edge: #d0d0d0;
  --inset: white;
  --do: #2e4df0;
  --do-hover: #5870ec;
}


/* Resets *********************************************************************/
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

/* Generic ********************************************************************/

html {
  font-size: 16px;
  line-height: calc(4 / 16px);
  overflow-y: scroll;
  min-height: 100%;
  font-family: sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--surface);
}

/* Components *****************************************************************/
/* Button */
.c-button {
  border-radius: 5px;
  display: inline-block;
  border: none;
  background-color: var(--do);
  color: var(--inset);
  padding: .2em .5em;
  font-size: 1.2em;
}

.c-button:hover {
  background-color: var(--do-hover);
}

.c-text-input {
  border: 1px solid var(--edge);
  background-color: var(--inset);
  padding: 1em;
  border-radius: 5px;
}

/* Chat */
.c-chat {
  display: flex;
  flex-direction: column;
  padding: 1em;
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}

.c-chat > * + * {
  margin-top: 1em;
}

.c-chat__view {
  border-radius: 5px;
  border: 1px solid var(--edge);
  background-color: var(--inset);
  flex: 1 1 auto;
}

.c-chat__view {
  background-color: var(--inset);
}

.c-chat__chat-form {
  flex: 0 0 auto;
  display: flex;
}

.c-chat__message-input {
  border-radius: 5px;
  flex: 1 1 0%;
  display: inline-block;
  border: 1px solid var(--edge);
  font-size: 1.2em;
  padding-left: .2em .5em;
}

.c-chat__message-send {
  flex: 0 0 auto;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: 1em;
}

/* Sign In */
.c-sign-in {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.c-sign-in__form {
  border: 1px solid var(--edge);
  background-color: var(--inset);
  padding: 1em;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}
.c-sign-in__user-name {
  font-size: 1.2em;
}
.c-sign-in__form > * + * {
  margin-top: 1em;
}

/* Utility ********************************************************************/

.u-hidden {
  display: none;
}
